@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&family=Padauk:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Padauk", sans-serif;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.home {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/wallpaper/girl3.png");
  background-size: cover;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

.home::before {
  content: "";
  background: #c94b4b;
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
  background: linear-gradient(to right, #4b134f, #c94b4b);
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

.moti {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/wallpaper/studygirl3.jpg");
  background-size: cover;
  position: relative;
  background-position: top;
  z-index: 1;
  background-attachment: fixed;
}

.moti::before {
  content: "";
  background: #c94b4b;
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
  background: linear-gradient(to right, #4b134f, #c94b4b);
  width: 100%;
  height: 200px;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

.hobbies{
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/wallpaper/studygirl4.jpg");
  background-size: cover;
  position: relative;
  background-position: top;
  z-index: 1;
  background-attachment: fixed;
}

.hobbies::before {
  content: "";
  background: #c94b4b;
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
  background: linear-gradient(to right, #4b134f, #c94b4b);
  width: 100%;
  height: 200px;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}


/*Gallery*/
.gallery{
  columns: 3;
}

.gallery img{
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* CSS */
.button-89 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

